/* 
    Document   : stylesheet
    Created on : 12/10/2010, 04:33:39 PM
    Author     : esmata
    Description:
        CSS to customize the GUI of portal project
*/

html {
    height:100%;
}

body {
    height: 100%;
    width:100%;
    margin:0;
    padding:0;
    background-color:#F6F6F5;
    
    font-family: Lucida Grande, Lucida Sans, Arial, sans-serif;
    
}

/* The content of each .jsp*/
#contenido {
    text-align:justify;
    margin: 3px 5% 0 5%;
    display: block;
    margin-bottom: 3em;
    border-left:1px solid #D7DAA9;
    border-right:1px solid #D7DAA9;
    background-color:white;
    /* CSS 3 */
    -moz-box-shadow: 0 0 5px 5px #B7B990;
    -webkit-box-shadow: 0 0 5px 5px #B7B990;
    box-shadow: 0 0 5px 5px #B7B990;
}

#contenido h2{
    margin:0;
    text-align:justify;
    padding: 5px 0 5px 0;
}

#content{
    padding:0 2% 0 2%;
}

#banner {background: url(images/banner.jpg) no-repeat 0 0; height: 123px;}
#banner-rep { background: url(images/banner-rep.png) repeat-x 960px 0; height: 123px; }

#title h1 {
	/*position:absolute;*/
	font-family:arial, helvetica, sans-serif;
	text-align:center;
	font-size: 36px;
	margin:0;
	width:100%;
	padding: 25px 0 0 0px;
	color:#5E6B2D;
    text-shadow: 2px 2px 2px #000;
}

#header_links {
	width: 100%;
	height:17px;
	padding: 10px 0 0 0;
	background-color:#72A045;
	vertical-align: middle;
    margin-top:3px;
}

/*------------------------------- Footer by Cristian Granados --------------------------------*/
#footer {
        margin:0;
        background: #D2D8A5;
        width: 100%;
        left: 0;
        right: 0;
        text-align:center;
        color:#354B20;
        line-height:24px;
        
        clear: both;
    }

<[if gte IE 5.5]><![if lt IE 7]>
#footer {
top: expression( ( 0 - footer.offsetHeight + ( document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight ) + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) ) + 'px' );
position:absolute;
}
<![endif]><![endif]>

/*------------------------------- Footer by Cristian Granados --------------------------------*/


#resultsPanel {
	width: 100%;
	margin-top: 20px;
}

#tablePanel{
    margin:0 5% 0 5%;
}

#searchPanel{
	width: 100%;
	text-align: center;
	margin-top: 20px;
}

#searchPanel input {
  width: 300px;
  height: 25px;
}

#searchPanel input:focus {
  border: 2px #CCCC99 solid;
}

#tablePanelContainer {
    text-align:center;
    float: left;
    width: 50%;
}

#tablePanelContainerFull {
    text-align:center;
    float: left;
    width: auto;
    margin: auto;
    padding: auto;
    border: auto;
}

/*
***** styling table component *******
*/
#resultTable.home{
    /*font-family: arial, helvetica, sans-serif;*/
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    
}

#resultTable.home td{
    width: 33%;
    
    font-size: 0.95em;
}

#resultTable.home th{
    border: 1px solid #555;
    font-weight: normal;
    
    background-color: #D8D8DA;
}

#resultTable.home tr.odd{
    background-color: #eaf7fe;
}

#resultTable.home tbody tr:hover{
    background-color: #8395B3;
    color: #fff;
}

#resultTable.home .scname{
    font-style: italic;
}

/*
*   styling pagination and showing info
*/

div.top, div.bottom {
    text-align: center;
    font-size: 0.9em;
    
    color: #333;
    
    margin: 15px 0 20px;
}

span.paginate_button{
    margin-right: 15px;
}

span.paginate_active{
    margin-right: 15px;
    font-weight: bold;
}

#occuPanel{
    width: 98%;
}

#mapPanel {
    margin: 0 0 0 50%;
}

#extraPanel {
    clear:both;
    font-size:12px;
    margin:10px 0 10px 0;
    text-align:center;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
}

#map {
    position:relative;
    width: 100%;
    height: 420px;
    border: 1px solid silver;
    border-style:solid;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
}

#wrapper {
    width: 100%;
}

#location {
    float: right;
}

/* Styles for search explanation panel */
#moduleExplanation .hd{
    margin:25px 20% 0 20%;
    text-align:justify;
    background: url(images/find.png);
    background-repeat:no-repeat;
    background-position: 0 3px;
    padding: 12px 0 0 40px;
    height:32px;
    font-weight:bold;
    font-size:18px;
    font-style:italic;
    color:#545F28;
}
#moduleExplanation .bd{
    border:solid 2px #839299;
    background-color:#F9F9FB;
    margin:10px 20% 25px 20%;
    padding:10px;
    text-align:center;
    font-size: 0.8em;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
}

.service{
    margin-top:10px;
    padding: 2px 0 0 40px;
    background: url(images/tabs.png);
    background-repeat:no-repeat;
    background-position: 10px 2px;    
    font-size:14px;
}
.flickr{
    margin-top:10px;
    padding: 2px 0 0 40px;
    background: url(images/flickr.png);
    background-repeat:no-repeat;
    background-position: 10px 2px;
    font-size:14px;
}
.picasa{
    margin-top:10px;
    padding: 2px 0 0 40px;
    background: url(images/picasa.png);
    background-repeat:no-repeat;
    background-position: 10px 2px;
    font-size:14px;
}
.gbif{
    margin-top:10px;
    padding: 2px 0 0 40px;
    background: url(images/gbif.png);
    background-repeat:no-repeat;
    background-position: 10px 2px;
    font-size:14px;
}
.eol{
    margin-top:10px;
    padding: 2px 0 0 40px;
    background: url(images/eol.png);
    background-repeat:no-repeat;
    background-position: 10px 2px;
    font-size:14px;
}
.wikis{
    margin-top:10px;
    padding: 2px 0 0 40px;
    background: url(images/wiki.png);
    background-repeat:no-repeat;
    background-position: 10px 2px;
    font-size:14px;
}

a.service:link,a.service:visited,a.wikis:link,a.wikis:visited,a.eol:link,a.eol:visited,a.gbif:link,a.gbif:visited,a.picasa:link,a.picasa:visited,a.flickr:link,a.flickr:visited{
    text-decoration:none;
}

/* Style for images shown on species list */
.imagePreview{
    border:solid 2px #A4A680;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
}

.searchButton{
   background-color:#dff4ff;
   border:1px solid #767c87;
   border-top:1px solid #eee;
   border-left:1px solid #eee;
   font-family:sans-serif;
   font-size:100%;
   line-height:130%;
   text-decoration:none;
   font-weight:bold;
   color:#334563;
   cursor:pointer;
   padding:3px 3px 3px 3px;
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
}

.searchButton:hover{
    background-color:#B7D9ED;
    border:1px solid #456C84;
    color:#336699;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

/*-------------------------------Styling Taxon Description page ---------------------------------*/
#tabsContainer {
    float: left;
    width: 100%;
    background-color: #85DB18;
    
    margin-bottom: 5px;
    
    /*round corners*/
    -moz-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}

#tabsContainer ul{
    float:left;
    list-style: none;
    
    margin: 0 0 0 40px;
    padding: 0;
}

#tabsContainer li {
    float: left;
}

#tabsContainer li a {
    text-decoration: none;
    display: block;
    
    color: #F5F6D4;
    padding: 0 1em;
    font-size: 1.2em;
    line-height: 3.5em;
}

#tabsContainer li.currentTab a {
    background-color: #493F0B;
    font-weight: bold;
    
    /*border-bottom: 6px solid #A7C520;
    font-weight: bold;*/
}

#taxonDescription {
    clear: both;
    border-top: 1px solid #ccc;
}

/*---------------------------------End Taxon Description page -----------------------------------*/

/*-------------------------------- Occurrences page style -----------------------*/
.occuPanel{
    overflow: auto;
    border-left: 1px solid;
    border-right: 1px solid;
}

#resultTable.occurrences{
    
    width: 125%;
    border-collapse: collapse;
}

#resultTable.occurrences td{
    font-size: 0.8em;
    line-height: 1.6em;
    padding-left: 4px;
}

#resultTable.occurrences th{
    border: 1px solid #555;
    font-weight: normal;
    font-size: 0.8em;
    
    background-color: #CBCBCB;
}

#resultTable.occurrences tr.odd{
    background-color: #EDF5FF;
}

#resultTable.occurrences tbody tr:hover{
    background-color: #8395B3;
    color: #fff;
}
