/* 
    Document   : stylesheet_2
    Created on : 12/10/2011, 04:33:39 PM
    Author     : avargas
    Description:
        CSS to customize the GUI of portal project
*/

/* ------------- RESET -----------------------*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
    text-decoration: none;
}

/* ---------------- BASE STYLE -------------------- */

body {
    background-color: #8ac53e;
    /*font-family: Lucida Grande, Lucida Sans, Arial, sans-serif;*/
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    
    color: #333;
}

/* The content of each .jsp*/
#content{
    background-color: #fff;
    padding-bottom: 20px;
    overflow: auto;
}

.data_wrapper{
    margin: 0 auto;
    width: 900px;
}

h1, h2, h3, h4, h5, h6{
    font-weight: bold;
    margin: 5px 0;
}
h1{
    font-size: 25px;
    color: #fff;
    text-shadow: 1px 2px 0 rgba(0, 0, 0, 0.25);
}
h2{
    font-size: 20px;
    color: #fff;
    text-shadow: 1px 2px 0 rgba(0, 0, 0, 0.25);
}
h3{
    font-size: 18px;
}
h4{
    font-size: 14px;
}
a{
    color: #333;
}
/* ------------ MENU -------------------- */
#menu{
    background-color: #005da9;
    height: 35px;
    display: none;
}
#menu a{
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
#menu_inner ul{
    padding-top: 8px;
}
#menu_inner li{
    float: left;
}

/* ------------ HEADER -------------------- */
#header{
    background-color: #688527;
    height: 105px;
    border-top: 1px solid #ccc;
    
}
#header_inner{
    padding: 8px 0;
}
#header_inner img{
    float: left;
}
#header_inner h1{
    margin-left: 150px;
    margin-top: 28px;
}

/* -------------------- MAIN CONTENT --------------------- */
#content_header{
    height: 55px;
    background-color: #8dc63f;
    
    border-top: 1px solid #C8E587;
}

#contenido {
    text-align:justify;
    margin: 3px 5% 0 5%;
    display: block;
    margin-bottom: 3em;
    border-left:1px solid #D7DAA9;
    border-right:1px solid #D7DAA9;
    background-color:white;
}

#contenido h2{
    margin:0;
    text-align:justify;
    padding: 5px 0 5px 0;
}

.section{
    width: 940px;
    margin: 0 auto;
}

#banner {background: url(images/banner.jpg) no-repeat 0 0; height: 123px;}
#banner-rep { background: url(images/banner-rep.png) repeat-x 960px 0; height: 123px; }

#title h1 {
	font-family:arial, helvetica, sans-serif;
	text-align:center;
	font-size: 36px;
	margin:0;
	width:100%;
	padding: 25px 0 0 0px;
	color:#5E6B2D;
    text-shadow: 2px 2px 2px #000;
}

#header_links {
	width: 100%;
	height:17px;
	padding: 10px 0 0 0;
	background-color:#72A045;
	vertical-align: middle;
    margin-top:3px;
}

/*------------------------------- Footer --------------------------------*/
#footer {
        margin: 20px 0;
        /*background: #D2D8A5;*/
        text-align:center;
        color:#006227;
        line-height:24px;
        clear: both;
        position: relative;
    }

/*------------------------------- Footer --------------------------------*/

/*-------------------------------Home page style --------------------------------*/
/* search field */

#searchPanel{
	width: 100%;
    padding-top: 20px;
	text-align: center;
}

#searchPanel input {
  width: 300px;
  height: 25px;
}

#searchPanel input:focus {
  border: 2px #CCCC99 solid;
}

.searchButton{
   background-color:#dff4ff;
   border:1px solid #767c87;
   border-top:1px solid #eee;
   border-left:1px solid #eee;
   font-family:sans-serif;
   font-size:100%;
   line-height:130%;
   text-decoration:none;
   font-weight:bold;
   color:#334563;
   cursor:pointer;
   padding:3px 3px 3px 3px;
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
}

.searchButton:hover{
    background-color:#B7D9ED;
    border:1px solid #456C84;
    color:#336699;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

/* Styles for search explanation panel */
#moduleExplanation .hd{
    margin:25px 20% 0 20%;
    text-align:justify;
    background: url(images/find.png);
    background-repeat:no-repeat;
    background-position: 0 3px;
    padding: 12px 0 0 40px;
    height:32px;
    font-weight:bold;
    font-size:18px;
    font-style:italic;
    color:#545F28;
}
#moduleExplanation .bd{
    border:solid 2px #839299;
    background-color:#F9F9FB;
    margin:10px 20% 25px 20%;
    padding:10px;
    text-align:center;
    font-size: 1em;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
}

/* --- styling search result component --- */
#resultsPanel{
    font-size: 0.95em;
    margin: 20px auto;
    
    color: #231f20;
}
#tablePanel{
    /*font-family: arial, helvetica, sans-serif;*/
    width: 670px;
    margin: 10px 0;
    float: left;
    border-collapse: collapse;
    
}
#tablePanel div.search_item{
    border-top: 1px solid #bbb;
    font-weight: normal;
    text-align: left;
    
    padding-top: 3px;
    
    clear: both;
}
#tablePanel div.search_item a, #tablePanel div.search_item a:visited{
    font-style: italic;
    text-decoration: none;
    font-weight: bold;
    
    color: #332f30;
}
#tablePanel div.search_item img{
    float: right;
}
#tablePanel div.search_item span{
    display: block;
}

/* -- pagination elements */
div.dataTables_paginate{
    font-size: 0.9em;
    
    display: none;
    
    text-align: center;
    
    clear: both;
}
span.paginate_button{
    margin-right: 15px;
}
span.paginate_active{
    margin-right: 15px;
    font-weight: bold;
}
div.home_paginate{
    width: 670px;
}
/* -- */
#resultTable.home tr.odd{
    background-color: #eaf7fe;
}
#resultTable.home tbody tr:hover{
    background-color: #8395B3;
    color: #fff;
}
#resultTable.home .scname{
    font-style: italic;
}
/*
* External result
* right column to show external search results
*/
div#externalResult{
    display: none;
    float: right;
    width: 240px;
    margin-top: 7px;
    background-color: #72AB24;
    
    border-radius: 20px 0px 20px 0;
    -moz-border-radius: 20px 0px 20px 0;
    -webkit-border-radius: 20px 0px 20px 0;
}
div#externalResult a{
    display: block;
    margin: 10px;
    margin-left: 25px;
    color: #DAFAAB;
    font-weight: bold;
    /*text-decoration: underline;*/
    font-size: 13px;
    
}
div#externalResult h4{
    margin: 10px 0 0 15px;
    color: #ffffff;
}
div.externalSource{
    
}


/*-------------------------------Styling Taxon Description page ---------------------------------*/
#content_header_inner{
    height: 100%;
    position: relative;
    overflow: hidden;
}
#content_header_inner h2{
    margin-top: 18px;
    margin-left: 10px;
}

#tabsContainer {
    position: absolute;
    bottom: 0;
    right: 30px;
}
#tabsContainer ul{
    
}
#tabsContainer li {
    float: left;
    padding: 10px 12px;
    margin-left: 1px;
    background-color: #E4EA9E;   
}
#tabsContainer li.currentTab{
    background-color: #fff;
    font-weight: bold;
}
#tabsContainer li.currentTab a {

}
#taxonDescription {
    clear: both;
}

div.container{
    min-height: 300px;
    padding-top: 25px;
}

div.left-column{
    float:left;
    width: 250px;
}

div.content-column{
    margin-left: 250px;
}

div.content-column h4{
    margin: 12px 0 8px;
}

/*---------------------------------End Taxon Description page -----------------------------------*/

/*---------------------------- MENU style ----------------------------------*/
li.menu-top{
    cursor: pointer;
    font-weight: bold;
    color: #006327;
    
    margin-bottom: 8px;
}

/*-------------------------------- Occurrences page style -----------------------*/
div#occurrences{
    margin: 10px auto;
    min-height: 350px;
}
ul#view_control{
    margin: 10px 0;
}
ul#view_control li{
    display: inline;
    margin-right: 5px;
}
div.halfMap{
    margin: 0 0 0 50%;
    width: 425px;
    height: 320px;
    
    position: fixed;
    left: 0;
}
div.extendMap{
    margin: 0;
    width: 900px;
    height: 420px;
}
#map{
    
    position:relative;
    width: 100%;
    border: 1px solid silver;
    border-style:solid;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
}
#tablePanelContainer {
    float: left;
    text-align:center;
    width: 100%;
}
#tablePanelContainer.half{
    width: 50%;
}
#resultTable.occurrences{
    width: 80%;
    margin: 0 auto;
}
#resultTableHalf.occurrences td.first_column{
    text-align: left;
}
table.simpleTable{
    border-collapse: collapse;
}
table.simpleTable th{
    font-size: 12px;
    padding: 6px;
    color: #fff;
    background-color: #888;
}
table.simpleTable th.first_column{
    border-radius: 4px 0 0 0px;
    -moz-border-radius: 4px 0 0 0px;
    -webkit-border-radius: 4px 0 0 0px;
}
table.simpleTable th.last_column{
    border-radius: 0 4px 0px 0;
    -moz-border-radius: 0 4px 0px 0;
    -webkit-border-radius: 0 4px 0px 0;
}
table.simpleTable td{
    font-size: 12px;
    line-height: 1.8em;
    padding: 4px;
    text-align: center;
    border-bottom: 1px solid #BBB;
}
table.simpleTable tbody tr:hover{
    background-color: #8395B3;
    color: #fff;
}
table.simpleTable tbody tr.selected{
    background-color: #C3D5F3;
}